/*--TABLETTE RESPONSIVE--*/

@media screen and (max-width: 992px) {

    nav p {
        font-size: small;
    }
    nav h2 {
        font-size: large;
    }
    nav h3 {
        font-size: medium;
    }
    #info {
        font-size: xx-small;
    }

    #info p  {
        font-size: small;
    }
         
    /*--MAIN--*/
        main {
            display: flex;
            align-items: center;
            height: 680px;
        }

        main h2 {
            font-size: large;
        }
        main img {
            width: 246px;
            height: 124px;
        }
        .cardhotel {
            width: fit-content;
        }
    /*--ASIDE--*/
        .bloc {
            display: block;
        }
        aside {
            height: 350px;
            margin-left: 20px;
            display: block;
        }
        .popudirection {
            display: flex;
            flex-direction: row;
            justify-content: center;
            justify-content: space-between;
        }
        aside img {
            width: 100px;
            height: 140px;
        }
        .graph {
            margin-left: 550px;
        }
        .cardpopular {
            width: 250px;
            height: 140px;
        }
        aside p {
            font-size: smaller;
        }
        aside .stars {
            margin-top: 0px;       
        }
    /*--SECTION--*/
        section .container {
            display: flex;
            justify-content: space-between;
            margin-left: 45px;
            margin-right: 30px;
        }
        .activities {
            width: 190px;
            height: 220px;
        }   
        section article {            
            width: 190px;
            height: 290px;
        }
    /*--FOOTER--*/    
        footer .container {
            justify-content: center;
            margin-left: 100px;
            line-height: 17px;
        }
    }

    /*--MOBILE RESPONSIVE--*/

@media screen and (max-width: 768px) {

    body {
        margin-top: 0;
    }
    /*--HEADER--*/
    header {
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .logo {
        display: flex;
        width: 90px;
    }
    .container_nav {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nav_bar {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
  
    .container_nav_bar1:hover {
        border-top: none;
        border-bottom: #0065FC solid 3px;
    }
    .container_nav_bar2:hover {
        border-top: none;
        border-bottom: #0065FC solid 3px;
    }
      
    /*--NAV--*/

    nav h2 {
        font-size: 22px;
    }

    nav p {
        justify-content: center;
        font-size: 15px;
    }
    nav h3 {
        font-size: large;
        justify-content: center;
    }

    nav i {
        width: 0;
    }

    .filters {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: baseline;
        height: 200px;
        margin-left: 0;
        margin-top: 0;
    }

    .box {
        font-size: small;
        width: 160px;
    }

    #research_button {
        display: none;
    }

    #research_icon {
        display: flex;
        align-items: center;
        background-color: #0065FC;
        font-size: medium;
        width: 50px;
        color: #FFFFFF;
        font-weight: bold;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        border: none;
        cursor: pointer;
    }

    #research_icon i {
        font-weight: bold;
        display: flex;
        justify-content: center;       
    }

    #info p {
        font-size: 14px;
    }

    /*--HEBERGEMENT--*/
    .bloc {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    main h2 {
        font-size: x-large;
    }

    #direction {
        display: flex;
        flex-direction: column;
    }

    main img {
        width: 330px;
        height: 120px;
    }

    .cardhotel {
        width: 330px;
        height: 220px;
    }

    main {
        height: 1700px;
        margin-left: -10px;
    }

    /*--POPULAIRES--*/

    aside {
        height: 670px;
        margin-left: -10px;
    }

    .graph {
        margin-left: 30px;
        font-size: medium;
    }
    .popudirection {
        display: flex;  
        flex-direction: column;             
    }

    aside img {
        height: 145px;
        width: 140px;
    }
    .cardpopular {
        width: 350px;
        height: 145px;
    } 
    
    aside .stars {
        margin-top: 40px;
    }

    /*--SECTION--*/

    section h2 {
        font-size: x-large;
        width: 130px;
    }
    section .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
        height: 1100px;
    }
    .activities {
        width: 330px;
        height: 200px;
    }
    section article {
        width: 330px;
        height: 260px;
    }
    
    section h3 {
        margin-left: 30px;
    }

    /*--FOOTER--*/

    footer {
        display: flex;
        flex-direction: column;
        font-size: large;
        margin-left: -70px;
    }

}